<div class="row">
    <div class="col-sm-3 mt-3 autos" *ngFor="let auto of autos">
      <div class="card text-white" [ngClass]="{ 'bg-danger' : auto.estado == 'ALQUILADO', 'bg-success' : auto.estado == 'DISPONIBLE', 'bg-warning' : auto.estado == 'MANTENIMIENTO' }">
        <div class="card-body">
          <span class="badge bg-dark">{{ auto.estado }}</span>
          <h4 class="card-title">{{ auto.nombre }} - {{ auto.modelo}}</h4>
          <div class="card-text">
              <h5>{{ auto.precioPorDia | currency }}</h5>
              <p>Estado: {{ auto.estado }}</p>
              <p>Fecha de creación: {{ auto.fechaCreacion | date:'short' }}</p>
          </div>
          <button class="btn btn-primary me-1 btn-editar-auto" (click)="navegarAEditar(auto)">Editar</button>
          <button class="btn btn-light btn-alquilar-auto" (click)="asignarAutoParaAlquiler(auto)" *ngIf="auto.estado == 'DISPONIBLE'">Alquilar</button>
        </div>
      </div>
    </div>
</div>
